
div {
  height: 50px;
  border: 1px solid black;
  line-height: 50px;
  text-align: center;
}

div:nth-child(1) {
  height: 75px;
  line-height: 75px;
}

div:nth-child(n+2):nth-child(-n + 4) {
  height: 150px;
  line-height: 150px;
}

div:nth-child(n+5):nth-child(-n + 8) {
  height: 120px;
}

@media (min-width: 768px) {
  div:nth-child(2) :nth-child(2) {
    height: 600px;
  }
}
